<!doctype html>
<html>
    <head>
        <title>template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <style>
           p, h2{
               background:rgba(255,255,255,.75);
                height: 30%;
                display:run-in;
                text-align:center;
                justify-content: center;
                align-items: center; 
             
            }
            
        </style>
    </head>
    <body>
       <header>
           <h1><a href="index.html" id="logo">Logo</a></h1>
           <button id="mb">mobile menu</button>
           <nav>
               <ul>
                   <li><a href="index.html">Home</a></li>
                   <li><a href="work.html">Work</a></li>
                   <li><a href="contact.html">Contact</a></li>
               </ul>
           </nav>
       </header>
       
       
        <div class="container">
            <h1> Work</h1>
        </div>
        
        <div class="container"> 
            <div class="c33">
                <img src="assets/img/1.jpg">
            </div>
            <div class="c66 p10 ">
                <h2> Project Name</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>    
            </div>   
            
         <div class="rcontainer"> 
            <div class="c33 p10">
                <img src="assets/img/3.jpg">
            </div>
            <div class="c66 p10">
                <h2> Project Name</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>    
            </div>  
            
          <div class="container"> 
            <div class="c33">
                <img src="assets/img/4.jpg">
            </div>
            <div class="c66 p10">
                <h2> Project Name</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>    
            </div>  
            
          <div class="rcontainer"> 
            <div class="c33">
                <img src="assets/img/5.jpg">
            </div>
            <div class="c66 p10">
                <h2> Project Name</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>    
        </div>
        
        
        <footer>
            <p class="tc a1 p10">&copy; 2019. All Rights Reserved</p>
        </footer>
    </body>
</html>