/*presets*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: garamond;
}

img{max-width:100%}
/*columns*/
.fullcontainer{
    display: flex;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
}
.rfullcontainer{
    display: flex;
    flex-direction: row-reverse;
}
.rcontainer{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
.c100{
    width: 100%;
}
.c75{
    width: 75%;
}
.c66{
    width: 66.666667%;
}
.c50{
    width: 50%;
}
.c33{
    width: 33.333333%;
}
.c25{
    width: 25%;
}


/*nav*/
header{
    border-bottom: 1px solid #FFBF50;
    position: relative;
}
header h1{
     margin: 0;
}
#logo{
    font-family: platino;
    font-weight: normal;
    text-decoration: none;
    color: #B5391B;
    padding: 10px;
    display: inline-block;

}
#logo:hover{
    color:#000;
}
#mb{
    display: none;
}
nav{
    position: absolute;
    top:0;
    right: 0;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #C73E1D;
    color: #C73E1D;
    padding: 5px 15px;
}
nav a:hover{
    border:1px solid #F45E44;
    color: #F45E44;
}

/*common*/
.tc{
    text-align:center;
}
.btn{
    text-decoration: none;
    display: inline-block;
    border:1px solid #B5391B;
    color: #C73E1D;
    padding: 5px 15px;
}
.btn:hover{
    border:1px solid #F45E44;
    color: #F45E44;
}
.a1{
    background: #FFBF50;
}
.a2{
    background: #FFBF50;
}
.p10{
    padding: 10px;
}
.p50{
    padding: 50px;
}
.p100{
    padding: 100px 0px;
}
/*type*/
h1, h2, h3, h4, h5, h6{
    font-family: verdana;
}
h1{
    font-weight: normal;
    font-size: 40px;
    margin: 30px 0px
}

